---
import Layout from "../layouts/Layout.astro";
import Section from "../components/Section.astro";

import ProjectList from "../components/ProjectList.tsx";
import Timeline from "../components/Timeline.astro";

const title = "fhelo.dev";
---

<Layout title={title}>
	<h1 class="lg:mt-16">
		<span
			class="text-4xl font-bold bg-gradient-to-t from-[#969fc5] to-[var(--primary)] bg-clip-text text-transparent"
		>
			Fernando Hernández Loeza
		</span>
	</h1>

	<h2 class="text-3xl font-bold w-full sm:text-center mb-0 text-balance">
		Full Stack Developer
	</h2>

	<Section>
		<p slot="content" class="text-gray-400">
			A driven and adaptable Full Stack Developer with
			<span class="font-bold text-gray-300"> 3+ years </span> of experience and a
			strong foundation in mechatronics engineering. Transitioned from a maintenance
			engineer to a developer to leverage my problem-solving skills and technical
			expertise to create innovative software and IoT solutions.
		</p>
	</Section>

	<a
		href="/fhl-resume.pdf"
		download
		class="inline-flex h-12 animate-background-shine items-center justify-center rounded-md border border-gray-800 bg-[linear-gradient(110deg,#000103,45%,#1e2631,55%,#000103)] bg-[length:200%_100%] px-6 font-medium text-gray-400 transition-colors focus:outline-none focus:ring-2 focus:ring-gray-400 focus:ring-offset-2 focus:ring-offset-gray-400"
	>
		Download resume
	</a>

	<Section title="Projects">
		<div slot="content">
			<ProjectList client:load />
		</div>
	</Section>

	<Section title="Experience">
		<div slot="content" class="px-4">
			<Timeline />
		</div>
	</Section>
</Layout>
