---
import Layout from "../layouts/Layout.astro";
import Section from "../components/Section.astro";

import ProjectList from "../components/ProjectList.tsx";
import Timeline from "../components/Timeline.astro";

const title = "fhelo.tech";

const projects = [
	{
		title: "Project One",
		description: "This is a description for project one.",
		technologies: ["react", "astro"],
	},
	{
		title: "Project Two",
		description: "This is a description for project two.",
		technologies: ["supabase", "vite"],
	},
	// Add more projects here...
];
---

<Layout title={title}>
	<h1 class="lg:mt-16">
		<span
			class="text-4xl font-bold bg-gradient-to-t from-[#969fc5] to-[var(--primary)] bg-clip-text text-transparent"
		>
			Fernando Hernández Loeza
		</span>
	</h1>

	<h2 class="text-3xl font-bold w-full sm:text-center mb-8">
		Full Stack Developer
	</h2>

	<Section title="About me">
		<p slot="content" class="text-gray-400">
			A driven and adaptable Full Stack Developer with a strong foundation in
			mechatronics engineering. Transitioned from a maintenance engineer to a
			developer to leverage my problem-solving skills and technical expertise in
			creating innovative software and IoT solutions. Eager to contribute to a
			team that values continuous improvement and cutting-edge technology.
		</p>
	</Section>

	<Section title="Projects" link="projects">
		<div slot="content">
			<ProjectList client:load />
		</div>
	</Section>

	<Section title="Experience">
		<div slot="content" class="px-4">
			<Timeline />
		</div>
	</Section>
</Layout>
