---
import Layout from "../layouts/Layout.astro";
import Section from "../components/Section.astro";

import CardSpotlight from "../components/CardSpotlight.tsx";
import Timeline from "../components/Timeline.astro";

const title = "fhelo.tech";
---

<Layout title={title}>
	<h1>
		<span class="text-gradient text-4xl font-bold">
			Fernando Hernández Loeza
		</span>
	</h1>

	<h2 class="text-3xl font-bold w-full">Full Stack Developer</h2>

	<Section title="About me">
		<p slot="content">
			I'm a Full Stack Developer with a passion for creating web applications
			that are fast, responsive, and user-friendly. I have experience working
			with JavaScript, TypeScript, React, Node.js, and other technologies.
		</p>
	</Section>

	<Section title="Projects">
		<div slot="content" class="flex gap-2 flex-wrap justify-center">
			<CardSpotlight client:load />
			<CardSpotlight client:load />
			<CardSpotlight client:load />
			<CardSpotlight client:load />
			<CardSpotlight client:load />
			<CardSpotlight client:load />
			<CardSpotlight client:load />
			<CardSpotlight client:load />
		</div>
	</Section>

	<Section title="Experience">
		<div slot="content">
			<Timeline />
		</div>
	</Section>
</Layout>

<style>
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
</style>
