---
import { Linkedin, Github, PhoneOutgoing, Mail } from "lucide-astro";

const links = {
  linkedIn: {
    iconElement: Linkedin,
    href: "https://www.linkedin.com/in/fernando-helo/",
  },
  github: {
    iconElement: Github,
    href: "https://github.com/fernandohelo",
  },
  phone: {
    iconElement: PhoneOutgoing,
    href: "tel:+525541234567",
  },
  email: {
    iconElement: Mail,
    href: "mailto:fernando1core@gmail.com",
  },
};
---

<nav
  class="fixed w-full z-50 top-0 start-0 bg-background/95 backdrop-blur supports-[backdrop-filter]:bg-background/60"
>
  <div
    class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-2 px-4"
  >
    <a href="/" class="flex items-center p-2 text-sm">
      <div>
        <span class="text-lg font-bold">fhelo.tech</span>
      </div>
    </a>

    <div class="flex md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse">
      <div class="flex mt-4 sm:justify-center sm:mt-0">
        {
          Object.entries(links).map(([key, { iconElement: Icon, href }]) => (
            <a
              href={href}
              class="text-gray-500 hover:text-gray-300 ms-5 transition-all duration-300"
              target="_blank"
            >
              <Icon />
              <span class="sr-only">{key}</span>
            </a>
          ))
        }
      </div>
    </div>
  </div>
</nav>
